body{
    background:#023373;
    font-family:Arial, Helvetica, sans-serif;
}
.assignments{
    display:flex;
    flex-wrap:wrap;
}
.assignment{
    width:30%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#068BBF;
    border-radius:5px;
    box-shadow: 5px 7px #888888;
}
.assignment img{
    width:200px;
    border: 2px solid #3BBCD9;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}
h1{
    color:#187FD9;
    text-align:center;
}
a {
    text-decoration:none;
    color:white;
}
.assignment a:hover{
    color:lightskyblue;
}